 .brand-container{
    background-color: grey;
    width: 100%;    
    height: 200px;
    bottom: 100px; 

}

 .brand-title{
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 28px;/* Approximation due to font substitution */
    font-weight: 200;
    line-height: 54px;/* Approximation due to font substitution */
    text-align: center;
 }

 .brand-img-container{
    top: 150px;
    left: 105px; 
    height: 150;
    widows: 100;
    font-size: 10px;
 }